body {
  margin: 0;
  font-size: 16px;
}

a {
  color: #082e46;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.top-bar {
  padding: 10px 15px;
  margin-bottom: 0px;
}
.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-right {
  float: right;
}

.top-bar a,
.nav a {
  margin: 0 8px;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.card-heading {
  padding: 16px;
}

.field-line, .button-line {
  padding: 16px;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

.cup {
 animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
 transform: translate3d(0, 0, 0);
 backface-visibility: hidden;
 perspective: 1000px;
}

@keyframes shake {
 10%, 90% {
   transform: translate3d(-1px, 0, 0);
 }

 20%, 80% {
   transform: translate3d(2px, 0, 0);
 }

 30%, 50%, 70% {
   transform: translate3d(-4px, 0, 0);
 }

 40%, 60% {
   transform: translate3d(4px, 0, 0);
 }
}
